<!-- jumbo div -->
<div class="container">
	<header>
		<h1>
			Welcome to the rental vehicle page, where you can rent your favorite car with the trusted dealer.
		</h1>
	</header>
	<div>
		<%= link_to 'Car Rentals List', cars_url %>
	</div>
</div>