<nav>
	<ul>
		<% if current_owner %>
			<li><%= current_owner.email %></li>
			<li><%= link_to 'Sign Out', destroy_owner_session_path, method: :delete %></li>
		<% else %>
			<li><%= link_to 'Sign Up', new_owner_registration_path %></li>
			<li><%= link_to 'Sign In', new_owner_session_path %></li>
		<% end %>
	</ul>
</nav>